.color section{
    width: 200px;
    margin: 50px auto ;
}

div {
display:inline;
}

.green{background-color: green;}
.blue{background-color: blue;}
.red{background-color: red;}
.purple{background-color: purple;}
.orange{background-color: orange;}